# Node.js Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# NKG2016LU model processing temp files
land-uplift-model-NKG2016LU/nkg2016lu-with-readme.zip
land-uplift-model-NKG2016LU/nkg2016lu
land-uplift-model-NKG2016LU/NKG2016LU_lev.csv
land-uplift-model-NKG2016LU/NKG2016LU_lev.vrt
land-uplift-model-NKG2016LU/NKG2016LU_lev.tif
land-uplift-model-NKG2016LU/NKG2016LU_lev_tm35fin.tif

# MacOS
.DS_Store