# Node.js Dependency directories
node_modules/

# NLS (MML) elevation model processing temp files
map-data-processing/01_download-nls-elevation-model-2m/tif
map-data-processing/01_download-nls-elevation-model-2m/vrt

# GLARE model temp files
map-data-processing/02_post-glacial-rebound-calculation/01_download-GLARE-model-data/Base_Raster.tif
map-data-processing/02_post-glacial-rebound-calculation/01_download-GLARE-model-data/sea-level-baltic.tif
map-data-processing/02_post-glacial-rebound-calculation/01_download-GLARE-model-data/Base-raster-tm35fin.tif

# Post-glacial rebound calculation temp files
map-data-processing/02_post-glacial-rebound-calculation/02_post-glacial-rebound-calculation/aligned_GLARE_base_rasters
map-data-processing/02_post-glacial-rebound-calculation/02_post-glacial-rebound-calculation/calculation_results

# Ice layer
map-data-processing/02_post-glacial-rebound-calculation/03_ice_mask_calculation/Base-raster-band2-nodata-tm35fin.vrt
map-data-processing/02_post-glacial-rebound-calculation/03_ice_mask_calculation/ice_presence_masks
map-data-processing/02_post-glacial-rebound-calculation/03_ice_mask_calculation/result_cog

# Sea level calculation temp files
map-data-processing/04_sea-level-mask-calculation/sea_land_masks

# Sea level raster colorization temp files
map-data-processing/05_generate-colorized-sea-raster/sea_land_colored

# Cloud Optimized GeoTIFF generation temp files
map-data-processing/06_generate-map-distribution/result_cog
map-data-processing/06_generate-map-distribution/source_vrt

# Result validation temp files
map-data-processing/07_statistics/cropped_gdal_raster
map-data-processing/07_statistics/cropped-elevation_model

# Infra temp files
infra/post-glacial-rebound-worker/.wrangler
infra/post-glacial-rebound-worker/public

# MacOS
.DS_Store