<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Maannousu.info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis">Maannousu.info</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Maannousu.info on sivusto Suomessa tapahtuneen maannousun
          visualisointiin. Kartan kautta pystyy katsomaan merenpinnan tason eri
          vuosituhansina historiassa.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="map.html" class="btn btn-primary btn-lg px-4 gap-3">
            Siirry karttaan
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
