<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <title>Maannousu.info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis">Maannousu.info</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Maannousu.info sivusto on tarkoitettu Suomessa jääkauden jälkeen
          tapahtuneen maannousun aiheuttaman merenrannan siirtymisen
          visualisointiin. Kartan kautta pystyy katsomaan merenpinnan tason eri
          vuosituhansina historiassa. Kartta-aineisto on vapaasti käytettävissä.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="map.html" class="btn btn-primary btn-lg px-4 gap-3">
            Siirry karttaan
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="alert alert-warning" role="alert">
        <p><b>Varoitus!</b></p>

        <p>
          Tämä sivusto ja sen kartta-aineisto ovat harrastelijaprojekti.
          Sivuston näyttämät tiedot merenpinnan tasosta eri vuosina historiassa
          voivat olla virheellisiä, eikä tätä aineistoa siksi tule käyttää
          tilanteissa, joissa tarvitaan tieteellistä tarkkuutta.
        </p>
      </div>

      <h2>Sivuston tarkoitus</h2>

      <p>
        Sivuston tarkoituksena on tuottaa helposti käytettävä visualisaatio
        Itämeren merenpinnan muutoksista historiassa. Tällaista aineistoa ei ole
        ollut helposti saatavilla koko Suomen rannikosta ja monelta eri
        vuosituhannelta.
      </p>

      <p>
        Sivustoon kuuluu kartta, jonka avulla aineistoa voi tarkkailla. Meren
        pinnan tasoa voi katsoa 500 vuoden välein aikajaksolla 6000 ennen
        ajanjakson alkua - 1500 ajanjakson alun jälkeen. Kartan pitäisi toimia
        hyvin myös kännykän selaimessa, joten maan kohomista voi tarkkailla myös
        maastossa liikkuessa. Kartta näyttä myös myös käyttäjän sijainnin
        kartalla (kunhan vasemmasta reunasta käynnistää paikannuksen ja antaa
        siihen luvan).
      </p>

      <p>
        Sivuston toisena tarkoituksena on jakaa tätä laskennallista
        kartta-aineistoa vapaasti muidenkin käyttöön. Aineistoa voi käyttää
        suoraan ilmaiseksi muillakin nettisivuilla rajapinnan kautta tai sen voi
        ladata itselleen kokonaisuutena.
      </p>

      <p>
        Laskennassa käytetyt tekniset komennot on automatisoitu skripteiksi ja
        nämä on jaeltu avoimena lähdekoodina. Kaikki käytetty lähdeaineisto on
        ilmaista ja vaapasti saatavilla netistä, joten kuka tahansa voi ajaa
        laskennan komennot omalla tietokoneellaan ja muokata niitä.
      </p>

      <h2>Maannousu?</h2>

      <p>
        Maannousu tarkoittaa Pohjois-Euroopassa ja Kanadassa tapahtuvaa
        maanpinnan hidasta nousua, joka johtuu viimeisimmän jääkauden alaspäin
        painaman maankuoren noususta takaisin alkuperöiselle korkeudelleen.
        Maankohoamisen seuraksena merenranta perääntyy Suomen rannikolla noin 9
        - 3 mm vuodessa. Nopeinta nousu on Vaasan seudulla ja hitainta
        Etelä-Suomessa. Lue lisää maannoususta:
      </p>

      <ul>
        <li>
          <a
            href="https://www.maanmittauslaitos.fi/tutkimus/teematietoa/maannousu"
            >Maanmittauslaitos: Maannousu</a
          >
        </li>
        <li>
          <a href="https://fi.wikipedia.org/wiki/Maankohoaminen"
            >Wikipedia: Maankohoaminen</a
          >
        </li>
      </ul>

      <h2>Maannousun laskentamallit</h2>

      <p>Sivustolla on käytössä kaksi maannousun laskentamallia:</p>

      <ol>
        <li>
          <a href="model-v1.html"
            >Laskentamalli V1: lineaarinen maannousu NKG2016LU mallin
            perusteella</a
          >
        </li>
        <li>
          <a href="model-v2.html"
            >Laskentamalli V2: Glacial Land Adjustment Regenerator (Glare)</a
          >
        </li>
      </ol>

      <p>
        Laskentamalli V2 (Glare) on paljon parempi kuin naiivi V1, joten se on
        oletusvalinta tämän sivuston <a href="map.html">kartassa</a>.
      </p>

      <p>
        Laskentamalleissa käytetty lähtödata ja tekninen toteutus on kuvattu
        mallien yhteydessä.
      </p>

      <h2>Aineiston lataus ja rajapinnat</h2>
      <p>TODO</p>

      <h2>Muu lähdeäaineisto</h2>

      <p>
        <a href="map.html">Kartasivulla</a> käytetään Suomen pohjakarttana
        Maanmittauslaitoksen (MML) julkaisemaa
        <a
          href="https://www.maanmittauslaitos.fi/kartat-ja-paikkatieto/aineistot-ja-rajapinnat/tuotekuvaukset/taustakarttasarja-rasteri"
          >taustakarttaa</a
        >. Aineisto on julkaistu
        <a href="https://creativecommons.org/licenses/by/4.0/deed.fi"
          >CC BY 4.0</a
        >
        lisenssillä.
      </p>

      <h2>Yhteystiedot</h2>

      <p>
        Antti Kekki<br />
        antti.kekki@gmail.com
      </p>

      <h2>Tekninen toteutus ja lähdekoodi</h2>
      <p>
        Sivuston toteutus on avointa lähdekoodia ja on saatavilla
        <a href="https://github.com/anttikekki/post-glacial-rebound-map"
          >GitHubista</a
        >.
      </p>

      <h2>Tieteellisiä artikkeleita maannoususta</h2>
      <p>
        Tieteellistä tietoa maannoususta löytyy esimerkiksi näistä artikkeleista
        ja niiden lähteistä:
      </p>

      <ul>
        <li>
          Aki Hakonen: Introducing the Glacial Land Adjustment Regenerator
          (Glare) for Simulating the Final Pleistocene/Holocene Geographical
          Change in North Europe, Journal of Archaeological Science, 2024 (<a
            href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4992429"
            >papers.ssrn.com</a
          >)
        </li>
        <li>
          Eronen, M; Gluckert, G; Hatakka, L; Van De Plassche, O; Van Der
          Plicht, J; Rantala, P: Rates of Holocene isostatic uplift and relative
          sea-level lowering of the Baltic in SW Finland based on studies of
          isolation contacts, 2001 (<a
            href="https://pure.rug.nl/ws/files/6663240/2001BoreasEronen.pdf"
            >University of Groningen</a
          >)
        </li>
        <li>
          Tikkanen, Matti, Juha Oksanen: Late Weichselian and Holocene
          shoredisplacement history of the Baltic Sea in Finland, 2020 (<a
            href="https://fennia.journal.fi/article/view/3760/3551"
            >fennia.journal.fi</a
          >)
        </li>
        <li>
          Arto Miettinen, Henrik Jansson, Teija Alenius, Georg Haggrén: Late
          Holocene sea-level changes along the southern coast of Finland, Baltic
          Sea, 2007 (<a
            href="https://www.sciencedirect.com/science/article/abs/pii/S0025322706003598"
            >sciencedirect.com</a
          >)
        </li>
        <li>
          Viljami Perheentupa, Ville Mäkinen, Hando-Laur Habicht, Juha Oksanen:
          Animated visualization of post-glacial land uplift and shore
          displacement from modeled paleotopographic reconstructions, 2020 (<a
            href="https://www.sciencedirect.com/science/article/pii/S2590197420300240"
            >sciencedirect.com</a
          >)
        </li>
        <li>
          Markku Poutanen, Holger Steffen: Land Uplift at Kvarken Archipelago /
          High Coast UNESCO World Heritage area, 2014 (<a
            href="https://www.researchgate.net/publication/281717497_Land_uplift_at_Kvarken_Archipelago_high_coast_UNESCO_World_Heritage_area"
            >researchgate.net</a
          >)
        </li>
        <li>
          Olav Vestøl, Jonas Ågren, Holger Steffen, Halfdan Kierulf, Lev
          Tarasov: NKG2016LU: a new land uplift model for Fennoscandia and the
          Baltic Region, 2019 (<a
            href="https://link.springer.com/article/10.1007/s00190-019-01280-8#Abs1"
            >springer.com</a
          >)
        </li>
      </ul>
    </div>
  </body>
</html>
