<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <title>Maannousu.info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Tutki kartalla jääkauden jälkeistä maannousua Suomeassa."
    />
    <meta property="og:title" content="Maannousu.info" />
    <meta property="og:url" content="http://maannousu.info/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://maannousu.info/images/favicons/favicon-original.png"
    />
    <meta
      property="og:description"
      content="Tutki kartalla jääkauden jälkeistä maannousua Suomeassa."
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="images/favicons/site.webmanifest" />
    <link rel="shortcut icon" href="images/favicons/favicon.ico" />
    <link rel="manifest" href="images/favicons/site.webmanifest" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="application-name" content="Maannousu.info" />
  </head>
  <body>
    <nav class="navbar bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Maannousu.info</a>
      </div>
    </nav>

    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis">Maannousu.info</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Maannousu.info sivusto on tarkoitettu Suomessa jääkauden jälkeen
          tapahtuneen maannousun aiheuttaman merenrannan siirtymisen ja
          jääkauden mannerjään levinneisyyden visualisointiin. Kartan kautta
          pystyy katsomaan merenpinnan tason eri vuosituhansina historiassa.
          Kartta-aineisto on vapaasti käytettävissä.
        </p>
        <div class="d-grid gap-2 mb-4 d-sm-flex justify-content-sm-center">
          <a href="map.html" class="btn btn-primary btn-lg px-4 gap-3">
            Siirry karttaan
          </a>
        </div>
        <p class="lead mb-4">
          Samat maannousukartat ovat nähtävillä myös
          <a href="https://muinaismuistot.info/">muinaismuistot.info</a>
          sivustolla, jossa samalle kartalle saa Museoviraston ja Ahvenanmaan
          paikallishallinnon rekistereiden kiinteät muinaisjäännökset.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a
            href="https://muinaismuistot.info/#maannousuEnabled=true"
            target="_blank"
            class="btn btn-primary btn-lg px-4 gap-3"
          >
            Siirry muinaismuistot.info sivustolle
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="alert alert-warning" role="alert">
        <p><b>Varoitus!</b></p>

        <p>
          Tämä sivusto ja sen kartta-aineisto ovat harrastelijaprojekti.
          Sivuston näyttämät tiedot merenpinnan tasosta eri vuosina historiassa
          voivat olla virheellisiä, eikä tätä aineistoa siksi tule käyttää
          tilanteissa, joissa tarvitaan tieteellistä tarkkuutta.
        </p>
      </div>

      <h2>Maannousu?</h2>

      <p>
        Maannousu tarkoittaa Pohjois-Euroopassa ja Kanadassa tapahtuvaa
        maanpinnan hidasta nousua, joka johtuu viimeisimmän jääkauden alaspäin
        painaman maankuoren noususta takaisin alkuperäiselle korkeudelleen.
        Maankohoamisen seuraksena merenranta perääntyy Suomen rannikolla noin 9
        - 3 mm vuodessa. Nopeinta nousu on Vaasan seudulla ja hitainta
        Etelä-Suomessa. Lue lisää maannoususta:
      </p>

      <ul>
        <li>
          <a
            href="https://www.maanmittauslaitos.fi/tutkimus/teematietoa/maannousu"
            >Maanmittauslaitos: Maannousu</a
          >
        </li>
        <li>
          <a href="https://fi.wikipedia.org/wiki/Maankohoaminen"
            >Wikipedia: Maankohoaminen</a
          >
        </li>
      </ul>

      <h2>Sivuston tarkoitus</h2>

      <p>
        Sivuston tarkoituksena on tuottaa helposti käytettävä visualisaatio
        Itämeren merenpinnan muutoksista historiassa ja jääkauden jäätikön
        levinnäisyydestä. Tällaista aineistoa ei ole ollut helposti saatavilla
        koko Suomen rannikosta ja monelta eri vuosituhannelta.
      </p>

      <p>
        Sivustoon kuuluu kartta, jonka avulla aineistoa voi tarkkailla. Meren
        pinnan tasoa voi katsoa 250 - 100 vuoden välein aikajaksolla 10 000
        ennen ajanlaskun alkua - 1900 ajanlaskun alun jälkeen. Kartan pitäisi
        toimia hyvin myös kännykän selaimessa, joten maan kohomista voi
        tarkkailla myös maastossa liikkuessa. Kartta näyttä myös myös käyttäjän
        sijainnin kartalla (kunhan vasemmasta reunasta käynnistää paikannuksen
        ja antaa siihen luvan).
      </p>

      <p>
        Sivuston toisena tarkoituksena on jakaa tätä laskennallista
        kartta-aineistoa vapaasti muidenkin käyttöön. Aineistoa voi käyttää
        suoraan ilmaiseksi muillakin nettisivuilla rajapinnan kautta tai sen voi
        ladata itselleen kokonaisuutena.
      </p>

      <p>
        Laskennassa käytetyt tekniset komennot on automatisoitu skripteiksi ja
        nämä on jaeltu avoimena lähdekoodina. Kaikki käytetty lähdeaineisto on
        ilmaista ja vaapasti saatavilla netistä, joten kuka tahansa voi ajaa
        laskennan komennot omalla tietokoneellaan ja muokata niitä.
      </p>

      <h2>Maannousun laskentamalli</h2>

      <p>
        <b>Glacial Land Adjustment Regenerator (Glare)</b> on arkeologi
        <a href="https://oulu.academia.edu/AkiHakonen">Aki Hakosen</a>
        julkaisema historiallisen maan kohoamisen laskennan tieteellinen malli:
      </p>

      <ul>
        <li>
          Artikkeli:
          <a
            href="https://www.sciencedirect.com/science/article/pii/S0305440325001475"
            >Introducing the Glacial Land Adjustment Regenerator (Glare) for
            Simulating the Final Pleistocene/Holocene Geographical Change in
            North Europe</a
          >, Aki Hakonen, Journal of Archaeological Science, 2025.
        </li>
        <li>
          <a
            href="https://drive.google.com/drive/folders/184nPIZuX83gr3Yd6tVBGXCkpUysNY-CO"
            >Glaren materiaalit Google Drivessä</a
          >.
        </li>
        <li>
          <a href="https://github.com/Hakonaki/land-uplift-recons"
            >Glaren materiaalit GitHubissa</a
          >.
        </li>
      </ul>

      <p>
        Tämä sivusto käytää Glare-mallista versiota 2.2, joka jullkaistiin
        20.5.2025. Tällä mallilla lasketaan sekä maannousukartta että
        mannerjäätikön levinneisyyskartta (10 000 eaa. - 8500 eaa.).
      </p>

      <h3>Tilasto laskentamallin tuloksista</h3>
      <canvas id="statisticsChart"></canvas>

      <h3>Tekninen toteutus</h3>
      <p>
        Laskentamallin tekninen toteutus, jota tällä sivulla käytetään, löytyy
        avoimena lähdekoodina
        <a
          href="https://github.com/anttikekki/post-glacial-rebound-map/tree/main/map-data-processing/02_post-glacial-rebound-calculation"
          >GitHub</a
        >-palvelusta. >
      </p>

      <h3>Rajaukset</h3>
      <p>
        Tämän laskentamalli kartta-aineisto näyttää vain merenrannan
        siirtymisen. Siinä ei ole laskettu maanpinnan kallistumisesta johtuvaa
        järvien siirtymisiä tai niiden lasku-uomien muutoksia.
      </p>

      <h4>Maanpinnan muutokset</h4>
      <p>
        Pohja-aineistona on MML:n ajantasainen korkeusmalli. Tämän vuoksi kaikki
        ihmisen tekemät maanpinnan muuutokset vaikuttavat laskentaan: ojitus,
        kanavat, tiet, rantarakentaminen jne. Laskennallinen merenpinta voi olla
        näillä muokatun maaston kohdilla pielessä useita metrejä.
      </p>
      <p>
        Myöskään luonnollisia maan- tai merenpinnan muutoksia ei ole huomiotu.
        Näitä ovat esim. soiden pinnan nousu turpeen kerääntymisen seurauksena,
        jokien lasku-uomien muutokset, jokien kuljettamien sedimenttien
        kasaantuminen ja merenpinnan korkeusvaihtelut.
      </p>

      <h2>Lähdeäaineisto ja lisenssit</h2>

      <p>
        Laskentamallin lähdeaineistona on käytetty seuraavia avoimia aineistoja:
      </p>

      <ul>
        <li>
          <a
            href="https://drive.google.com/drive/folders/184nPIZuX83gr3Yd6tVBGXCkpUysNY-CO"
            >Glaren materiaalit Google Drivessä</a
          >. Aineisto on julkaistu
          <a href="https://creativecommons.org/licenses/by/4.0/deed.fi"
            >CC BY 4.0</a
          >
          lisenssillä.
        </li>
        <li>
          Maanmittauslaitoksen (MML) julkaisema
          <a
            href="https://www.maanmittauslaitos.fi/kartat-ja-paikkatieto/aineistot-ja-rajapinnat/tuotekuvaukset/korkeusmalli-2-m"
            >korkeusmalli 2 m</a
          >, joka kuvaa 2m x 2m ruudukolla koko Suomen maankorkeuden
          merenpinnasta vuonna 2023. Aineisto on julkaistu
          <a href="https://creativecommons.org/licenses/by/4.0/deed.fi"
            >CC BY 4.0</a
          >
          lisenssillä.
        </li>
      </ul>

      <p>
        Tämän myötä myös laskennan lopputuloksen lisenssi on siis
        <a href="https://creativecommons.org/licenses/by/4.0/deed.fi"
          >CC BY 4.0</a
        >, koska se on myösa kaiken lähtödatan lisenssi. Nämä lähteet on
        mainittava, jos tämän sivuston kartta-aineistoa jakelee eteenpäin.
      </p>

      <p>
        <a href="map.html">Kartasivulla</a> käytetään lisäksi Suomen
        pohjakarttana seuraavia Maanmittauslaitoksen (MML) julkaisemia karttoja:
      </p>

      <ul>
        <li>
          <a
            href="https://www.maanmittauslaitos.fi/kartat-ja-paikkatieto/aineistot-ja-rajapinnat/tuotekuvaukset/taustakarttasarja-rasteri"
            >Taustakartta</a
          >
        </li>
        <li>
          <a
            href="https://www.maanmittauslaitos.fi/kartat-ja-paikkatieto/aineistot-ja-rajapinnat/tuotekuvaukset/maastokarttasarja-rasteri"
            >Maastokartta</a
          >
        </li>
        <li>
          <a
            href="https://www.maanmittauslaitos.fi/kartat-ja-paikkatieto/aineistot-ja-rajapinnat/tuotekuvaukset/ortokuva"
            >Ortokuva</a
          >
        </li>
      </ul>

      <p>
        MLL:n aineistot on julkaistu
        <a href="https://creativecommons.org/licenses/by/4.0/deed.fi"
          >CC BY 4.0</a
        >
        lisenssillä. Aineistoja käytetään suoraan MML:n
        <a
          href="https://www.maanmittauslaitos.fi/kartat-ja-paikkatieto/aineistot-ja-rajapinnat/karttojen-rajapintapalvelut/karttakuvapalvelu-wms-0"
          >avoimen karttarajapinnan</a
        >
        kautta (avoin-karttakuva.maanmittauslaitos.fi).
      </p>

      <h2>Yhteystiedot</h2>

      <p>
        Antti Kekki<br />
        antti.kekki@gmail.com
      </p>

      <h2>Tekninen toteutus ja lähdekoodi</h2>
      <p>
        Sivuston toteutus on avointa lähdekoodia ja on saatavilla
        <a href="https://github.com/anttikekki/post-glacial-rebound-map"
          >GitHubista</a
        >.
      </p>

      <h2>Rajapinnat ja karttadatan lataus</h2>

      <p>
        Tämä sivuston laskennallinen maanousun ja jäätikön vlevinnäisyyden
        kartta-data on vapaasti kaikkien käytettävissä. Aineiston voi ladata
        kokonaisuudessaa tai sitä voi käyttää sivuston rajapinnan kautta
        suoraan.
      </p>

      <h3>Tiedostoformaatti</h3>

      <p>
        Kartta-datan jakelumuoto on
        <a href="https://cogeo.org/">Cloud Optimized GeoTIFF (COG)</a>. Tämä
        formaatti valittiin, koska sen avulla aineistoa voi jaella ilman WMS/WFS
        jne. palvelinta suoraan "palvelimen levyltä" eli pilvipalvelun
        bucketista. Tämä tekee sivuston ylläpidosta huomattavasti halvempaa.
      </p>

      <p>
        Cloud Optimized GeoTIFF -tiedostomuodossa TIFF-tiedoston sisään on
        upotettu tiilit eri kartan zoomaustasoille. Tällöin datan käyttäjä voi
        kysyä HTTP-kutsun
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Range_requests"
          >Range-otsakkeen</a
        >
        avulla vain rajatun määrän koko datasta. Tämä mahdollistaa datan käytön
        suoraan selaimessa ilman koko aineiston lataamista.
      </p>

      <h3>GeoTIFF:n sisältö</h3>

      <h4>Maannousukartta</h4>
      <p>
        Aineisto ei ole käyttövalmis visuaalinen rasteri, vaan GeoTIFF
        tiedostomuotoa käytetään välittämään tietoa 2m x 2m pikseleinä, että
        onko pikseli merta vai maata tiedoston tarkasteluvuotena:
      </p>

      <ul>
        <li>Arvo <code>0</code>: maata</li>
        <li>Arvo <code>1</code>: merta</li>
        <li>Arvo <code>2</code>: mannerjäätä</li>
        <li>
          Arvo <code>255</code>: ei tietoa (Suomen ulkopuoliset maa-alueet)
        </li>
      </ul>

      <p>
        Tieto on GeoTIFF-tiedoston data band 1 -tiedoissa. Tiedostoa ei siis voi
        renderöidä suoraan visuaalisesti, vaan käyttäjän pitää määrittää
        renderöintisäännöt käyttämäänsä työkaluun, joka renderöi nämä eri
        data-arvot halutuilla väreillä. Tämä toteutustapa valittiin, koska
        järkevä "meren väri" vaihtuu käytetyn pohjakartan värityksen mukana.
      </p>

      <h4>Mannerjäätikön levinnäisyyskartta</h4>

      <p>
        Vastaavasti myös mannerjäätikön levinnäisyyskartta ei ole visuaalinen
        rasteri, vaan GeoTIFF data band 1 sisältää seuraavat arvot:
      </p>

      <ul>
        <li>Arvo <code>0</code>: jää sulanut</li>
        <li>Arvo <code>1</code>: jäätä</li>
        <li>Arvo <code>255</code>: ei tietoa</li>
      </ul>

      <h3>Projektio</h3>

      <p>
        Datan projektio on Suomessa yleisesti käytetty
        <a href="https://epsg.io/3067-1149">EPSG:3067</a> (ETRS-TM35FIN). Tämä
        mahdollistaa aineiston käytön esim. Maanmittauslaitoksen pohjakarttojen
        kannsa ilman projektion muunoksia.
      </p>

      <p>
        Nämä kaikki lähteet on mainittava, jos tämän sivuston kartta-aineistoa
        jakelee eteenpäin.
      </p>

      <h2>Rajapinnat ja tiedostot</h2>

      <p class="lead">
        OpenAPI dokumentaatio löytyy Html-muodossa osoitteesta
        <a href="api">maannousu.info/api</a> ja JSON-muodossa osoitteesta
        <a href="api/spec.json">maannousu.info/api/spec.json</a>
      </p>

      <p>
        Rajapinnat/GeoTIFF-tiedostot on nimetty vuosiluvun mukaan, jonka
        maankohoamisen tilannetta ne mallintavat. Negatiiviset luvut ovat ennen
        ajanlaskun alkua (esim. -4000 on 4000 eaa.).
      </p>

      <p>
        Tuettujen vuosien määrä voi muuttua ajan myötä. Ajantasaisen listan voi
        hakea dynaamisesti JSON-muodossa seuraavista osoitteista:
      </p>

      <ul>
        <li>
          Maannousu:
          <a href="https://maannousu.info/api/v2"
            >https://maannousu.info/api/v2</a
          >
        </li>
        <li>
          Mannerjäätikkö:
          <a href="https://maannousu.info/api/v2/ice"
            >https://maannousu.info/api/v2/ice</a
          >
        </li>
      </ul>

      <p>
        Rajapinnat ja tiedostot ovat tässä tapauksessa yksi ja sama asia.
        GeoTIFF aineiston voi ladata kokonaisuudessaan klikkaamalla linkkiä
        selaimessa tai siitä voi hakea osia HTTP-kutsun
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Range_requests"
          >Range-otsakkeen</a
        >
        avulla samasta osoitteesta.
      </p>

      <p>
        Maannousun karttojen tiedostojen koot ovat noin 300 - 600 megatavua
        kappale. Jään levinnäisyyskartat ovat todella pieniä (alle 1 megatavu).
      </p>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Vuosi</th>
            <th scope="col">Maannousukartan osoite</th>
            <th scope="col">Mannerjään levinnäisyyskartan osoite</th>
          </tr>
        </thead>
        <tbody id="apiTableYearsTBody"></tbody>
      </table>

      <h3>Cross-Origin Resource Sharing (CORS)</h3>

      <p>
        Sivusto palautaa rajapintojen osoitteille
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/CORS"
          >Cross-Origin Resource Sharing (CORS)</a
        >
        otsakkeet, joiden avulla rajapintoja voi käyttää suoraan toiselta
        verkkosivulta:
      </p>

      <p>
        <code>
          "Access-Control-Allow-Origin": "*"<br />
          "Access-Control-Allow-Methods": "GET", "HEAD", "OPTIONS"<br />
          "Access-Control-Max-Age": "86400"
        </code>
      </p>

      <h3>Cache</h3>

      <p>
        Rajapinta palauttaa
        <code>"Cache-Control": "public, max-age=86400"</code> otsakkeen
        jokaisella kutsulla, joka sallii cachen selaimessa vuorokaudeksi.
        Selaimista kuitenkin vain Safari cachettaa tällä hetkellä HTTP
        Range-kutsuja. Chromella ja siis myös Edgellä selain lataa aina kaiken
        datan uudestaan.
      </p>

      <h3>Integraatio-esimerkit</h3>

      <h4>OpenLayers</h4>

      <p>
        <a href="https://openlayers.org/">OpenLayers</a> on avoimen lähdekoodin
        JavaScript-kirjasto, joka osaa renderöidä GeoTIFF-tiedostoja selaimessa.
        Kirjasto osaa hakea tehokkaasti zoomaustason mukaisia tiilejä
        aineistosta HTTP Range-kutsuilla.
      </p>

      <pre class="bg-light p-3 rounded"><code>
        import WebGLTileLayer from "ol/layer/WebGLTile";
        import { GeoTIFF } from "ol/source";

        const colorLand = [0, 0, 0, 0]; // Invisible
        const colorSea = [201, 236, 250, 1]; // National Land Survey of Finland background map sea color
        const colorIce = [255, 255, 255, 1]; // White
        const noData = [0, 0, 0, 0]; // Invisible
        const style = {
          color: [
            "case",
            ["==", ["band", 1], 0], // Value 0 = land
            colorLand,
            ["==", ["band", 1], 1], // Value 1 = sea
            colorSea,
            ["==", ["band", 1], 2], // Value 2 = Glacial ice
            colorIce,
            noData, // Fallback
          ],
        };

        const source = new GeoTIFF({
          sources: [
            {
              url: `https://maannousu.info/api/v2/-6000`,
              bands: [1],
            },
          ],
          convertToRGB: false,
          normalize: false,
        });

        const layer = new WebGLTileLayer({
          source,
          style,
        });
      </code></pre>

      <p>
        Laajempi esimerkki kokonaisesta OpenLayers-sivustosta löytyy tämän
        sivuston lähdekoodista
        <a
          href="https://github.com/anttikekki/post-glacial-rebound-map/tree/main/ui"
          >GitHubista</a
        >:
      </p>

      <ul>
        <li>
          <a
            href="https://github.com/anttikekki/post-glacial-rebound-map/blob/main/ui/src/map.ts"
            >ui/src/map.ts</a
          >
        </li>
        <li>
          <a
            href="https://github.com/anttikekki/post-glacial-rebound-map/blob/main/ui/src/map/layer/PostGlacialReboundTileLayer.ts"
            >ui/src/map/layer/PostGlacialReboundTileLayer.ts</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
