affine==2.4.0
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
cligj==0.7.2
idna==3.13
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
numpy==2.4.4
pyparsing==3.3.2
pystac==1.14.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
rasterio==1.5.0
referencing==0.37.0
requests==2.33.1
rio-stac==0.12.0
rpds-py==0.30.0
shapely==2.1.2
six==1.17.0
stac_validator==4.1.0
tqdm==4.67.3
urllib3==2.6.3
