.zoom-in-button {
  top: 10px;
  left: 10px;
  position: absolute;
}

.zoom-out-button {
  top: 50px;
  left: 10px;
  position: absolute;
}

.user-location-button {
  top: 90px;
  left: 10px;
  position: absolute;
}

.info-button {
  top: 130px;
  left: 10px;
  position: absolute;
}

.model-selection-button {
  top: 170px;
  left: 10px;
  position: absolute;
}

.backgound-map-selection-button {
  top: 210px;
  left: 10px;
  position: absolute;
}

.year-buttons {
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
}
